/*
* Style tweaks
* --------------------------------------------------
*/
@font-face {
	font-family: Poppins-Light;
	src: url('../fonts/poppins/Poppins-Light.ttf') format('truetype');
}
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    font-family: ;
}

/* ==Text Styles== */
body p{
    margin: 0;
    padding: 0;
}


.section h1{
    font-size:42px;
}

/*Default content style*/
.slide-content{
    padding-left:50px;
    padding-right: 25px;
    padding-top:75px;
    padding-bottom:75px;
    margin:0 5px 0 5px;
}
.slide-content p{
    font-size: 16px;
    margin-bottom:10px;
}
.slide-content a{
    font-size: 16px;
    font-weight: bold;
}
/* Newscards */
.newscards{
    cursor: default;
}

/* Newscard */
.newscard{
    padding: 2.5px;
    margin-bottom:10px;
    overflow: hidden;
}

.newscard-container{
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.7);
    padding: 7.5px 20px;
    margin: 7.5px;
    height:400 auto;
    min-height: 400px;
    overflow: hidden;
}
.newscard-content{
    height:auto;
    overflow: hidden;
}

.newscard-content p{
    /* This styling makes /n work to create a new line */
    white-space:pre-wrap !important;
}
.newscard-header h1{
    font-size:32px;
    text-decoration: none;
    font-family: ;
    text-shadow: 0 0 0.2px #5c5c5c;
}

.newscard-header span{
    color:dimgray;
    font-size:14px;
}
.newscard-header p{
    font-weight: bold;
    text-decoration: none;
    
}

.ribbon{
    background-color:#ff5148;
    color:#fff;
    padding: 0px 30px;
    font-size: 24px !important;
    text-align: center;
    float:right;
    right:-20px;
    top:-8px;
    position: relative;
}
